# Project exclude paths
/target/!/.idea/
!/.idea/

!/logs/
!/.idea/
/.idea/sonarlint/issuestore/6/c/6c9e3870c826ede78b24b3c27afc1a1627641f9d
/.idea/sonarlint/issuestore/9/f/9fe84ebb15faf917b7def6236dba604453cc61e0
/.idea/sonarlint/issuestore/1/0/10d3c4d3fdd1a12102616395682c8287d894b61b
/.idea/sonarlint/issuestore/3/0/301daf9f0cc84132e4fe675d780ad40679291179
/.idea/sonarlint/issuestore/4/2/4268fad0fef6301baeae3d05230b21ce8abcb173
/.idea/sonarlint/issuestore/8/7/8721f23f09b8a185d7fa09acfba44a811a6998b4
/.idea/sonarlint/issuestore/b/9/b9a3707127c76a4bd95ba4a0d745547dfae67a53
/.idea/sonarlint/issuestore/c/e/ce3ca7c14210b327debf71c6d04fb5663b3e042d
/.idea/sonarlint/issuestore/d/f/df769a265d404e45c1eeff5fa2b11f5d7af45830
/target/classes/com/kolosovskyi/agency/entity/Discount.class
/target/classes/com/kolosovskyi/agency/dao/DiscountDAO$1.class
/target/classes/com/kolosovskyi/agency/dao/DiscountDAO$DiscountDAOHandler.class
/target/classes/com/kolosovskyi/agency/dao/DiscountDAO.class
/target/test-classes/com.kolosovskyi.agency.dao.DiscountDAOTest.class
/target/classes/hikari.properties
/target/test-classes/hikari.properties
/target/classes/log4j2.xml
/target/classes/com/kolosovskyi/agency/Main.class
/target/classes/com/kolosovskyi/agency/connection/PostgreSQLConnectionPool$1.class
/target/classes/com/kolosovskyi/agency/connection/PostgreSQLConnectionPool$ConnectionPoolHolder.class
/target/classes/com/kolosovskyi/agency/connection/PostgreSQLConnectionPool.class
/target/classes/com/kolosovskyi/agency/entity/Role.class
/target/classes/com/kolosovskyi/agency/dao/SQLConstance.class
/target/classes/com/kolosovskyi/agency/entity/Tour.class
/target/classes/com/kolosovskyi/agency/dao/TourDAO$1.class
/target/classes/com/kolosovskyi/agency/dao/TourDAO$TourDAOHandler.class
/target/classes/com/kolosovskyi/agency/dao/TourDAO.class
/target/test-classes/com.kolosovskyi.agency.dao.TourDAOTest.class
/target/classes/com/kolosovskyi/agency/entity/TourStatus.class
/target/classes/com/kolosovskyi/agency/entity/TourType.class
/target/classes/com/kolosovskyi/agency/entity/User.class
/target/classes/com/kolosovskyi/agency/dao/UserDAO$1.class
/target/classes/com/kolosovskyi/agency/dao/UserDAO$UserDAOHandler.class
/target/classes/com/kolosovskyi/agency/dao/UserDAO.class
/target/test-classes/com.kolosovskyi.agency.dao.UserDAOTest.class
/target/classes/com/kolosovskyi/agency/entity/UserTours.class
/target/classes/com/kolosovskyi/agency/dao/UserToursDAO$1.class
/target/classes/com/kolosovskyi/agency/dao/UserToursDAO$UserToursDAOHandler.class
/target/classes/com/kolosovskyi/agency/dao/UserToursDAO.class
/target/test-classes/com.kolosovskyi.agency.dao.UserToursDAOTest.class
